<h1>Searched Song</h1>
<div class="container">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        Song Name
                    </th>
                    <th scope="col">
                        Song Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.SongName
                    </td>
                    <td>
                        @Model.SongDescription
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>


